{% extends 'smart-search/settings/connections/_layout' %}

{% block connectionsContent %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('smart-search/settings/save') }}
        <input type="hidden" name="scenario" value="{{ scenario }}">
        {{ redirectInput('smart-search/settings/connections/postgres') }}

        {% set scenarioErrors = settings.errorsForScenario(scenario) %}
        {% if scenarioErrors|length %}
            <blockquote class="note error">
                <p><strong>Please fix the following:</strong></p>
                <ul>{% for e in scenarioErrors %}<li>{{ e }}</li>{% endfor %}</ul>
            </blockquote>
        {% endif %}

        {% include 'smart-search/_settings/_connections_postgres' %}

        <div class="buttons">
            <button type="submit" class="btn submit">{{ 'Save'|t('smart-search') }}</button>
        </div>
    </form>
{% endblock %}
