{#
    Pagination using url(craft.app.request.pathInfo, …) + btngroup style.
    Used by the index-mgmt/index entry listing.

    Params:
        currentPage  int
        totalPages   int
        params       object  query params to preserve and merge with `page`
        prevLabel    string  default 'Prev'
        nextLabel    string  default 'Next'
        pageLabel    string  pre-formatted "Page X of Y" string

    Usage:
        {% include 'smart-search/_components/pagination-path' with {
            currentPage: result.page, totalPages: totalPages,
            params: filters,
            pageLabel: 'Page ' ~ result.page ~ ' of ' ~ totalPages,
        } only %}
#}
{% set prevLabel = prevLabel ?? 'Prev' %}
{% set nextLabel = nextLabel ?? 'Next' %}
{% set path = path ?? craft.app.request.pathInfo %}
{% if totalPages > 1 %}
    <div class="pagination">
        <div class="btngroup">
            {% if currentPage > 1 %}
                <a class="btn" data-craftsearch-control="pagination-link" href="{{ url(path, params|merge({ page: currentPage - 1 })) }}">
                    <span data-icon="leftangle"></span> {{ prevLabel }}
                </a>
            {% else %}
                <span class="btn disabled"><span data-icon="leftangle"></span> {{ prevLabel }}</span>
            {% endif %}
            {% if currentPage < totalPages %}
                <a class="btn" data-craftsearch-control="pagination-link" href="{{ url(path, params|merge({ page: currentPage + 1 })) }}">
                    {{ nextLabel }} <span data-icon="rightangle"></span>
                </a>
            {% else %}
                <span class="btn disabled">{{ nextLabel }} <span data-icon="rightangle"></span></span>
            {% endif %}
        </div>
        <span class="pagination__label">{{ pageLabel }}</span>
    </div>
{% endif %}
